.signLayout{
    .signLayout_header{
    .brand_wrapper{
        width: 100px;
        height: 50px;
        overflow: hidden;
    }
    .videcover_col {
        height: 100vh;
        .player-wrapper {
            position: relative;
            padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */;
            
          }
          
          .react-player {
            position: absolute;
            top: 0;
            left: 0;
    
          }
    }
}
}
