@import "_variabels";
@import "_mixins";
@import "_reset";
@import "_extends";
@import "_navbar";
@import "_card";
@import "_footer";
@import "_layouts";
@import "_mobileNavbar";
@import "_layouts";
@import "_filterSection";
@import "_searchInput";
@import "_skeleton";
////font style////////////////
@font-face {
  font-family: Vazir-Medium;
  src: url(#{$font-root}/Vazir-Medium.eot) format("eot"),
    url(#{$font-root}/Vazir-Medium.woff) format("woff"),
    url(#{$font-root}/Vazir-Medium.woff2) format("woff2");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: Vazir-Bold;
  src: url(#{$font-root}/Vazir-Bold.eot) format("eot"),
    url(#{$font-root}/Vazir-Bold.woff) format("woff"),
    url(#{$font-root}/Vazir-Bold.ttf) format("ttf"),
    url(#{$font-root}/Vazir-Bold.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Tanha;
  src: url(#{$font-root}/Tanha.eot) format("eot"),
    url(#{$font-root}/Tanha.woff) format("woff"),
    url(#{$font-root}/Tanha.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
